.header-image{
    background-color: rgb(0,0,0);
    background-repeat: no-repeat;
    background-image: url("blur.svg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-position: right;
}
